*{box-sizing: border-box;}


body {
        background-color: rgb(245, 236, 162);
    }


/* css del home, categoria y producto */

   /*navegador*/
nav.navLog {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    
}


nav.navLog li {
    list-style: none;
    font-weight: bold;


}

nav.navLog a{
    color: black; 
    text-decoration: none;
    list-style: none;
}

nav h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.navegador {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    
}

.navegador li{
    border-radius: 25%;
    background-color: rgb(247, 230, 107);
    font-size: large;
    font-weight: bold;
 
}
.navegador a {
    color: black; 
    text-decoration: none;
}


.logo{
    display: flex;
    justify-content: center;
}

.imagenLogo{max-width: 250px; 
    max-height: 250px;
    width: auto; 
    height: auto;}


.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 22px;
    border-bottom: 1px solid black;
}

.titulo{display: flex;
        justify-content: center;
        
    }

.elementos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.elementos a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


footer{
    display: flex;
    justify-content: right;
       
}
.imagen {
    max-width: 200px; 
    max-height: 200px;
    width: auto; 
    height: auto;
border-radius: 15%;}

.icono{
    max-width: 50px; 
    max-height: 50px;
    width: auto; 
    height: auto;
}


/*css producto*/

.contenedorProducto {
    width: 50vw;
    background-color:  rgb(247, 230, 107);
    margin: auto;
}

.articleProducto {
    display: flex;
    flex-wrap: nowrap;
}

.articleProducto section {
    width: 50%;
}

.articleProducto a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.sectionImagen img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sectionContenido {
    padding-left: 2.5% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenidoDescripcion {
    max-width: 90%;
    text-align: justify;
}


/* login, registar y recuperar css */

.contenedorLog {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.login {
    width: 100%;
    background-color:   rgb(247, 230, 107);
}

.formLog {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.formLog a{
    color: black;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: sans-serif;
    
}

.formLog input {
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
    border-bottom: 1px solid #3e3e3e;
    background-color:    rgb(247, 230, 107);
    font-family: Verdana;
}

.formLog button {
    font-size: large;
    border: none;
    background-color:  rgb(248, 229, 79);
    padding: 0.75vh 0;
    color: white;
    border-radius: 4px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: Tahoma;
}
.contenedorLog p {
    text-align: center;
    text-decoration: underline;
    font-size: 21px;

}



    

/*media*/

@media (max-width: 460px) {
    

    .logo {
        display: flex;
        justify-content: center;
        width: 90vw;
    }
    .navegador{
        display: flex;
        flex-wrap: wrap;

    }
    nav h1{
        display: flex;
        justify-content: center;
    }

    .navegador li{
        margin: 15px;
    }
    .titulo{
        display: flex;
        justify-content: center;

    }
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        width: 90vw;

    }

    .contenedorLog {
        width: 90vw;
    }
    .contenedorProducto {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
    }

    .articleProducto {
        flex-direction: column;
        
    }

    .articleProducto section {
        width: 100%;
    }

    .sectionContenido {
        margin: auto 4vw;
    }
    .elementos{
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        padding: 10px;

    }
}