main {
    width: 50vw;
    background-color: aquamarine;
    margin: auto;
}

article {
    display: flex;
    flex-wrap: nowrap;
}

section {
    width: 50%;
}

.section-imagen img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.section-contenido {
    padding-left: 2.5% ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenido-descripcion {
    max-width: 90%;
    text-align: justify;
}

@media (max-width: 460px) {

    main {
        width: 90vw;
    }

    article {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    .section-contenido {
        margin: auto 4vw;
    }
}