*{box-sizing: border-box;}



nav.navLog {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav.navLog a{
    color: black; 
    text-decoration: none;
    list-style: none;
}

.navegador {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}

.navegador a {
    color: black; 
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: center;
}


.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 22px;
}

.titusec{text-align: center;
    }

.elementos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.elementos a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


footer{
    display: flex;
    justify-content: right;
       
}

.registrar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 22px;
    
}

.elementosForm{
    
    display: flex;
    padding: 22px;
    text-align: center;
}

.imagen {
    max-width: 200px; 
    max-height: 200px;
    width: auto; 
    height: auto; }

.icono{
    max-width: 50px; 
    max-height: 50px;
    width: auto; 
    height: auto;
}